layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                hide_frame_for_single_pane "true"

                // -- Catppuccin Latte --
                color_rosewater "#dc8a78"
                color_flamingo "#dd7878"
                color_pink "#ea76cb"
                color_mauve "#8839ef"
                color_red "#d20f39"
                color_maroon "#e64553"
                color_peach "#fe640b"
                color_yellow "#df8e1d"
                color_green "#40a02b"
                color_teal "#179299"
                color_sky "#04a5e5"
                color_sapphire "#209fb5"
                color_blue "#1e66f5"
                color_lavender "#7287fd"
                color_text "#4c4f69"
                color_subtext1 "#5c5f77"
                color_subtext0 "#6c6f85"
                color_overlay2 "#7c7f93"
                color_overlay1 "#8c8fa1"
                color_overlay0 "#9ca0b0"
                color_surface2 "#acb0be"
                color_surface1 "#bcc0cc"
                color_surface0 "#ccd0da"
                color_base "#eff1f5"
                color_mantle "#e6e9ef"
                color_crust "#dce0e8"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[bg=$surface0]{char}"
                border_position "top"

                format_left   "#[bg=$surface0]{mode}#[bg=$sapphire,fg=$crust,bold]  {session} #[bg=$surface0]{tabs}"
                format_center "{notifications}"
                format_right  "#[fg=$crust,bg=$flamingo]  #[bg=$surface1,fg=$flamingo,bold] {command_user}@{command_host} #[bg=$maroon,fg=$crust] 󰃭 #[bg=$surface1,fg=$maroon,bold] {datetime} "
                format_space  "#[bg=$surface0]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                mode_normal        "#[bg=$green,fg=$crust,bold] NORMAL "
                mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX "
                mode_locked        "#[bg=$red,fg=$crust,bold] LOCKED "
                mode_pane          "#[bg=$teal,fg=$crust,bold] PANE "
                mode_tab           "#[bg=$teal,fg=$crust,bold] TAB "
                mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL "
                mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH "
                mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH "
                mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE "
                mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME-TAB "
                mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME-PANE "
                mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE "
                mode_session       "#[bg=$pink,fg=$crust,bold] SESSION "
                mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT "

                tab_normal              "#[bg=$blue,fg=$crust,bold] {index} #[bg=$surface1,fg=$blue,bold] {name} {floating_indicator}"
                tab_normal_fullscreen   "#[bg=$blue,fg=$crust,bold] {index} #[bg=$surface1,fg=$blue,bold] {name} {fullscreen_indicator}"
                tab_normal_sync         "#[bg=$blue,fg=$crust,bold] {index} #[bg=$surface1,fg=$blue,bold] {name} {sync_indicator}"
                tab_active              "#[bg=$peach,fg=$crust,bold] {index} #[bg=$surface1,fg=$peach,bold] {name} {floating_indicator}"
                tab_active_fullscreen   "#[bg=$peach,fg=$crust,bold] {index} #[bg=$surface1,fg=$peach,bold] {name} {fullscreen_indicator}"
                tab_active_sync         "#[bg=$peach,fg=$crust,bold] {index} #[bg=$surface1,fg=$peach,bold] {name} {sync_indicator}"
                tab_separator           "#[bg=$surface0]"

                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]"
                notification_format_no_notifications ""
                notification_show_interval "10"

                command_host_command    "uname -n"
                command_host_format     "{stdout}"
                command_host_interval   "0"
                command_host_rendermode "static"

                command_user_command    "whoami"
                command_user_format     "{stdout}"
                command_user_interval   "10"
                command_user_rendermode "static"

                datetime          "{format}"
                datetime_format   "%Y-%m-%d 󰅐 %H:%M"
                datetime_timezone "Europe/Stockholm"
            }
        }
    }
}
