layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                hide_frame_for_single_pane "true"

                // -- Catppuccin Latte --
                color_rosewater "#dc8a78"
                color_flamingo "#dd7878"
                color_pink "#ea76cb"
                color_mauve "#8839ef"
                color_red "#d20f39"
                color_maroon "#e64553"
                color_peach "#fe640b"
                color_yellow "#df8e1d"
                color_green "#40a02b"
                color_teal "#179299"
                color_sky "#04a5e5"
                color_sapphire "#209fb5"
                color_blue "#1e66f5"
                color_lavender "#7287fd"
                color_text "#4c4f69"
                color_subtext1 "#5c5f77"
                color_subtext0 "#6c6f85"
                color_overlay2 "#7c7f93"
                color_overlay1 "#8c8fa1"
                color_overlay0 "#9ca0b0"
                color_surface2 "#acb0be"
                color_surface1 "#bcc0cc"
                color_surface0 "#ccd0da"
                color_base "#eff1f5"
                color_mantle "#e6e9ef"
                color_crust "#dce0e8"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[bg=$surface0]{char}"
                border_position "top"

                format_left   "{mode}#[bg=$sapphire,fg=$crust,bold]  {session} #[bg=$mantle] {tabs}"
                format_center "{notifications}"
                format_right  ""
                format_space  "#[bg=$mantle]"
                format_hide_on_overlength "true"
                format_precedence "lrc"

                mode_normal        "#[bg=$green,fg=$mantle,bold] NORMAL "
                mode_tmux          "#[bg=$mauve,fg=$mantle,bold] TMUX "
                mode_locked        "#[bg=$red,fg=$mantle,bold] LOCKED "
                mode_pane          "#[bg=$teal,fg=$mantle,bold] PANE "
                mode_tab           "#[bg=$teal,fg=$mantle,bold] TAB "
                mode_scroll        "#[bg=$flamingo,fg=$mantle,bold] SCROLL "
                mode_enter_search  "#[bg=$flamingo,fg=$mantle,bold] ENT-SEARCH "
                mode_search        "#[bg=$flamingo,fg=$mantle,bold] SEARCHARCH "
                mode_resize        "#[bg=$yellow,fg=$mantle,bold] RESIZE "
                mode_rename_tab    "#[bg=$yellow,fg=$mantle,bold] RENAME-TAB "
                mode_rename_pane   "#[bg=$yellow,fg=$mantle,bold] RENAME-PANE "
                mode_move          "#[bg=$yellow,fg=$mantle,bold] MOVE "
                mode_session       "#[bg=$pink,fg=$mantle,bold] SESSION "
                mode_prompt        "#[bg=$pink,fg=$mantle,bold] PROMPT "

                tab_normal              "#[bg=$mantle,fg=$overlay2,bold]{index} {name} {floating_indicator}"
                tab_normal_fullscreen   "#[bg=$mantle,fg=$overlay2,bold]{index} {name} {fullscreen_indicator}"
                tab_normal_sync         "#[bg=$mantle,fg=$overlay2,bold]{index} {name} {sync_indicator}"
                tab_active              "#[bg=$base,fg=$peach,bold]▎#[bg=$base,fg=$text,bold]{index} {name} {floating_indicator}"
                tab_active_fullscreen   "#[bg=$base,fg=$peach,bold]▎#[bg=$base,fg=$text,bold]{index} {name} {fullscreen_indicator}"
                tab_active_sync         "#[bg=$base,fg=$peach,bold]▎#[bg=$base,fg=$text,bold]{index} {name} {sync_indicator}"
                tab_separator           "#[bg=$mantle] "

                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                notification_show_interval "10"
                notification_format_unread "#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}"
                notification_format_no_notifications ""
            }
        }
    }
}
