name: "Build"
on:
  pull_request:
  push:
jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: "Run nix flake checks"
        run: ci/shell.sh
        env:
          SOPS_AGE_KEY: ${{ secrets.AGE_SECRET_KEY }}
